In [83]:
import pymongo
from datetime import datetime
import pandas as pd 
dateTimeObj = datetime.now()
timestampStr = dateTimeObj.strftime("%Y-%m-%d (%H:%M)")


client = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = client["homie"]

In [84]:
#question doc type
question_feedback ={}
content_question1 = "you like pasta?"
content_question2 = "you like pasta? 1"
content_question3 = "you like pasta? 2"
content_question4 = "you like pasta? 3"

In [87]:
#user doc type
user_feedback = {}
new_user = "Joshua Harris #4321"

list_answers = ["oui","oui1","oui2","oui3"]
ladate ="2020-20-20"

In [88]:
question_feedback = {
    "question1":content_question1,
    "question2":content_question2,
    "question3":content_question3,
    "question4":content_question4
}
user_feedback = {
    "user":new_user,
    "answer1":list_answers[0],
    "answer2":list_answers[1],
    "answer3":list_answers[2],
    "answer4":list_answers[3], 
    "date-feedback":timestampStr
}

In [89]:
quest = mydb.feedback.find(question_feedback,{"question1":1})
        #Load question form db mongo
list_q = []
for question in quest:
    list_q.append(question)
list_question = list_q[1:]
list_question

['question1', 'question2', 'question3', 'question4']

[{'_id': ObjectId('602f9c604313d4cad4701dac'), 'question1': 'you like pasta?'}]

In [90]:
# mydb.feedback.insert_one(question_feedback)
mydb.feedback.insert_one(user_feedback)

In [106]:
mydb.feedback.find({user:1,"answer1":1})

In [135]:
import pandas as pd
df_user = pd.DataFrame(list(mydb.user.find()))
df_question = pd.DataFrame(list(mydb.question.find()))

In [132]:
df_user = df_user.drop(columns=["_id"])
df_user

                 user answer1 answer2 answer3 answer4       date-feedback
0  Joshua Harris#7613      ye      ye      ye      ye  2021-02-19 (13:38)

In [136]:
df_question = df_question.drop(columns=["_id"])
df_question

         question1          question2          question3          question4
0  you like pasta?  you like pasta? 1  you like pasta? 2  you like pasta? 3

In [146]:
csv_question = df_question.to_csv()
csv_question

',question1,question2,question3,question4\n0,you like pasta?,you like pasta? 1,you like pasta? 2,you like pasta? 3\n'